body {
    margin:0;
}
h1 {
    color:blue;
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin:0;
}
#div_grid{
    display:grid;
    grid-template-columns: 150px 1fr;
}
#div_grid ol {
    border-right:1px solid gray;
    padding:20px;
    padding-left: 35px;
    margin:0;
    width : 50%;
}
a{
    color:blue;
}
@media(max-width:600px){
    #div_grid{
       display:block;
    }
    #div_grid ol{
        border-right:none;
    }
    h1{
        border:none;
    }
}